*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  height:100%;
  font-size: calc(1em + 1vw);
}
body{
  width:100%;
  height:100%;
  font-family: "Barlow", sans-serif;
}
.main_header,
.header_section{
  width:100%;
  height:500px;
}
.header-img{
  width:100%;
  height:500px;
  object-fit: cover;
  position:relative;
}
.logo-svg,
.logo{
  top:20px;
  left:20px;
  position:absolute;
}
.nav{
  position:absolute;
  top:20px;
  float:right;
  right:20px;
  padding:10px;
  display:block;
}
.nav a{
  color:white;
  text-decoration:none;
  margin:10px;
  cursor:pointer;
  font-size:0.7em;
}
.nav a:hover{
  opacity:0.7;
}
.contact{
  background-color:white;
  text-align:center;
  width:76px;
  height:30px;
  border-radius:15px;
  border:none;
  cursor:pointer;
}
.contact a{
  color:black;
  font-weight:700;
  text-transform: uppercase;
  font-size:0.7em;
}
.header-text{
  color:white;
  top:140px;
  left:50%;
  transform: translate(-50%, -50%);
  font-size:1.5em;
  font-weight:900;
  text-transform: uppercase;
  position:absolute;
  white-space: nowrap;
  font-family: 'Fraunces', serif;
}
.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1440px){
  .arrow-down{
    top: 320px;
    left: 50%;
  transform: translate(-50%, -50%);
    
  }
  .mobile-menu,
   .hamburger{
    display:none;
  }
  .close{
    display:none;
  }
}
.about{
  width:100%;
  height:1170px;
  background-color:lightgray;
}
.row{
  width:100%;
  height:390px;
  background-color:lightblue;
  display:flex;
}
.content{
  padding:10px;
  width:50%;
  height:390px;
  background-color:white;
  position:absolute;
}
.column{
  width:50%;
  height:390px;
  display:inline-block;
}
.column_img{
  width:50%;
  height:390px;
  position:absolute;
  object-fit:cover;
}
.column_img:hover{
  opacity:0.7;
}
.card-title{
    font-size: 0.9em;
     font-weight:700;
    text-align: left;
    margin-left:2em;
    margin-top: 3.5em;
    font-weight:900;
}
.card-text {
    width: 80%;
    margin-top: 1.5em;
    margin-left: 2em;
    text-align: left;
   line-height:20px;
    color:hsl(210, 4%, 67%);
    font-size:0.7em;
}
.card-info {
    font-size: 0.5em;
    text-align: left;
    margin-left:2.6em;
    margin-top: 2.5em;
    margin-bottom: 1em;
     white-space: nowrap;
    font-weight:900;
    text-transform: uppercase;
}
.line,
.line1{
  width:70px;
  height:2px;
  margin-top:-7px;
  margin-left:30px;
  background-color:hsl(51, 100%, 49%);
}
.line1{
  background-color: hsl(7, 99%, 70%);
}
.caption {
     width:40%;
    position: absolute;
    text-align: center;
    color: hsl(167, 40%, 24%);
    font-weight: bold;
}
.card-img-title {
    font-size: 0.8em;
    margin-left:1.8em;
    text-align: center;
    margin-top: 12em;
    color: hsl(212, 27%, 19%);
}
.card-img-text {
    margin-top: 1em;
    margin-left: 2.5em;
    text-align: center;
    color:hsl(167, 40%, 24%);
    font-size:0.6em;
  line-height:20px;
}
@media only screen and (max-width: 400px) {
  .about{
  width:100%;
  height:2340px;
  background-color:lightgray;
  display:flex;
  flex-wrap:wrap;
}
  .row{
  width:400px;
  height:780px;
  background-color:lightblue;
  display:flex;
  flex-wrap:wrap;
}
  .content{
    padding:30px;
  width:400px;
  height:390px;
  background-color:white;
  position:absolute;
}
  .column{
  width:400px;
  height:390px;
  display:inline-block;
}
  .column_img{ 
  width:400px;
  height:390px;
  position:absolute;
}
  #lamp{
    top:1280px;
    position:absolute;
  }
  #content_text{
   top:1670px;
  }
 .caption {
     width:80%;
    position: absolute;
    text-align: center;
    color: hsl(167, 40%, 24%);
    font-weight: bold;
}
  .card-img-title {
    font-size: 1em;
    margin-left:4.5em;
    text-align: center;
    margin-top: 11em;
    color: hsl(212, 27%, 19%);
}
.card-img-text {
     width:80%;
    margin-top: 1em;
    margin-left: 7em;
    text-align: center;
    color:hsl(167, 40%, 24%);
    font-size:0.6em;
}
  .line,
.line1{
  width:60px;
  height:2px;
  margin-top:-10px;
  margin-left:25px;
  background-color:hsl(51, 100%, 49%);
}
  .line1{
   background-color: hsl(7, 99%, 70%); 
  }
}

@media screen and (max-width: 500px){
  .nav{
    display:none;
  }
  .mobile-menu{
     display:block;
  }
  .humburger{
    display:block;
  }
  
  .toggle{
    display:none;
  }
  .close{
    display:none;
  }
  
}

.show{
  top:3.5em;
  padding:1em;
  right:1em;
  display: inline-block;
  z-index:1;
  background-color: white !important;
  clip-path: polygon(93% 7%, 100% 0, 100% 31%, 100% 75%, 50% 75%, 0 74%, 0 7%);
  width:90%;
  height:550px;
  text-align:center;
  
}
.show a{
  color: black;
  margin-top:2.5em;
  margin-right: 2em;
  font-size:1em;
  z-index:1;
  font-weight:900;
  cursor: pointer;
}
.show a:hover{
  opacity:0.7;
}
.show .contact{
  width:8em;
  height:1.7em;
  background-color:hsl(51, 100%, 49%);
  font-weight:900;
  border-radius:1.5em;
  cursor:pointer;
  text-align:center;
}
.mobile-menu{
  float: right;
  margin-top:-470px;
  right:2em;
 position:absolute;
  border:none;
   background-color: transparent !important;
}
.hamburger{
  float: right;
   margin-top:-470px;
  right:2em;
  position:absolute;
}

nav{
  background-color: transparent !important;
  color: #ffffff;
  height: auto;
  width: 100%;
  position:absolute;
  display:none;
}
nav > ul {
  padding: 1.5vw;
  margin: 1.5vw;
  float: right;
  right: 3.167vw;
  list-style: none;
  display:block;
  background-color: transparent !important;
}
nav > ul > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size:1em;
  display:block;
}
.close{
  color:black;
  font-size:2em;
  float:left;
  margin-top:0.5em;
  left:1em;
  cursor:pointer;
  display:none;
}
.testemonials{
  width:100%;
  height:435px;
  background-color:#F7F7FD;
   text-align:center;
  justify-content:center;
  align-items:center;
}
.testemonials-title{
  top:94px;
  color: hsl(210, 4%, 67%);
  font-size:0.8em;
  position:relative;
}
.testemonials-content{
  width:100%;
  height:300px;
  display:flex;
 
}
.testemonials-card{
  margin:20px;
  width:250px;
   height:280px;
  top:35%;
  text-align:center;
  margin:0 auto;
   justify-content:center;
  align-items:center;
   background-color:transparent;
  position:relative;
  display:block;
}
.testemonial-img{
  margin:20px;
  width:50px;
  height:50px;
  border-radius:50%;
}
.testemonials-content{
  top:7px;
  width:95%;
  color: hsl(213, 9%, 39%);
  font-size:0.7em;
   margin:0 auto;
  line-height:1.2em;
  position:relative;
}
.testemonials-info{
  width:95%;
  height:50px;
  top:180px;
  text-align:center;
  margin:0 auto;
  position:absolute;
  background-color:transparent;
}
.testemonials-name{
  font-weight: 900;
  font-size: 0.8em;
  color: hsl(212, 27%, 19%);
}
.testemonials-job{
   font-size: 0.8em;
  font-weight: 700;
  color: hsl(210, 4%, 67%);
}
@media only screen and (max-width: 400px){
 
  .testemonials{
  width:400px;
  height:930px;
}
  .testemonials-title{
    right:9%;
  }
  .testemonials-card{
  width:400px;
   height:280px;
}
  #first-card{
    left:25%;
    width:400px;
    height:280px;
  }
  #second-card{
    top:360px;
    right:8%;
    width:400px;
    height:280px;
  }
  #tird-card{
     top:630px;
    right:40%;
    width:400px;
    height:280px;
  }
}
.projects{
  width:100%;
  height:245px;
}
.project-box{
  width:100%;
  height:245px;
  display:flex;
}
.project-content{
  width:25%;
  height:245px;
}
.project-img{
   width:100%;
   object-fit:cover;
   height:245px;
}
@media only screen and (max-width: 400px){
  .projects{
  width:400px;
  height:490px;
 
}
  .project-box{
    width:400px;
    height:490px;
     display:flex;
   flex-wrap:wrap;;
  }
  .project-content{
  width:200px;
  height:245px;
}
  #project1_img{
    width:200px;
    height:245px;

  }
  #project2_img{
    float:right;
    width:200px;
    height:245px;
  }
  #project3_img{
    top:245px;
    float:left;
    width:200px;
    height:245px;
  }
  #project4_img{
    top:245px;
    float:right;
    width:200px;
    height:245px;
  }
}
.footer{
  width:100%;
  height:230px;
  background-color:#2BB7AC;
}
.attribution{
  width:80%;
  height:160px;
  margin:0 auto;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.footer-logo{
  top:20px;
  font-size:1em;
  font-weight:700;
  font-family: 'Fraunces', serif;
  color:hsl(168, 34%, 41%);
  position:relative;
   cursor:pointer;
}
.footer_links{
  top:30px;
  position:relative;
}
.footer-link{
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  font-size:0.8em;
  margin:20px;
  color:hsl(213, 9%, 39%);
}
.footer-link:hover{
  opacity:0.7;
}
.footer-des{
  top:60px;
  font-size:0.5em;
  position:relative;
}
.media-links{
    top:45px;
  font-size:0.8em;
  position:relative;
}
.media-links i{
  margin:10px;
   cursor:pointer;
}
.media-links i:hover{
  opacity:0.7;
}